@media (min-width: 1399.98px) {
  header ul li, footer {
    font-size: 1rem;
  }
  /* ABOUT */
  main > section {
    padding-inline: var(--m-container-fluid);
  }
  section[section-data="about"] .contxt p {
    max-width: 782px;
  }
  /* END: ABOUT */
  /* GLOBAL */
  .txt-body {
    font-size: 2rem;
  }
  /* END: GLOBAL */
}
@media (min-width: 1199.98px) {
}
@media (min-width: 1023.98px) {
}
@media (min-width: 991.98px) {
}
@media (min-width: 767.98px) {
}
@media (min-width: 575.98px) {
}

@media (max-width: 1399.98px) {
  footer {
    font-size: 1rem;
  }
}
@media (max-width: 1199.98px) {
  :root {
    --m-container: 112px;
    --m-sv-container: 4.25rem;
    --m-media-container: 3rem;
  }
  section[section-data="about"] .contxt h1:after {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 1023.98px) {
  section[section-data="video"] {
    margin-bottom: var(--minus-m);
    padding: 0;
  }
}
@media (max-width: 991.98px) {
  header ul {
    grid-gap: 1rem;
  }
  header ul li {
    font-size: 1rem;
  }
  /* ABOUT */
  section[section-data="about"] .contxt h1:after {
    width: 1rem;
    height: 1rem;
  }
  /* END: ABOUT */
  section[section-data="portfolio"],
  section[section-data="service-info"] {
    padding-inline: var(--m-container);
    margin-inline: 0;
  }
  section[section-data="contact"] .contact-info {
    margin-left: 3rem;
  }
}
@media (max-width: 767.98px) {
  :root {
    --m-container: 4rem;
  }
  header {
    padding-inline: var(--m-container);
  }
  header .logo {
    max-height: 2.5rem;
  }
  /* ABOUT */
  section[section-data="about"] .contxt {
    margin-bottom: 2rem;
  }
  /* END: ABOUT */
  /* PORTFOLIO */
  section[section-data="portfolio"] {
    padding-inline: var(--m-container);
    margin-inline: 0;
  }
  section[section-data="portfolio"] .row {
    margin: 0;
  }
  section[section-data="portfolio"] img {
    min-width: 70%;
  }
  /* END: PORTFOLIO */
  /* GLOBAL */
  .heading {
    font-size: 1.5rem;
  }
  .txt-body {
    font-size: 1rem;
  }
  /* END: GLOBAL */
}
@media (max-width: 575.98px) {
  :root {
    --m-container: 1.5rem;
  }
  header,
  footer {
    padding-inline: var(--m-container);
    font-size: 1rem;
  }
  section[section-data="service"] {
    background-position: bottom;
  }
  section[section-data="contact"] .contact-info {
    margin: 0;
    padding: var(--m-container);
  }
  .left-ctn,
  .right-ctn {
    padding: var(--m-container) !important;
  }
  .tag {
    font-size: 1rem;
    border-radius: 1rem !important;
  }
}
