:root {
  --c-black: #000;
  --c-white: #fff;
  --c-blue: #43667a;
  --c-orange: #f1592a;
  --c-brown: #98948d;

  --m-container: 178px;
  --m-container-fluid: calc(
    154px + (178 - 154) * ((100vw - 1440px) / (1920 - 1440))
  );
  --m-media-container: 240px;
  --m-sv-container: 240px;

  --minus-s: -4px;
  --minus-m: -8px;

  --bg-default: top center / cover no-repeat;

  --transition: 0.2s ease;
}
/* RESET DEFAULT */
/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}
ul,
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
a,
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}
/* END: RESET DEFAULT */
body {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  color: var(--c-blue);
  overflow-x: hidden;
}
/* HEADER & FOOTER */
header,
footer {
  width: 100%;
  background: var(--bg-default) url("/assets/img/bg/bg-head.jpg");
  padding-inline: var(--m-container-fluid);
  text-align: center;
  box-shadow: 0px 4px 19px 0px #00000003;
}
header,
header *,
footer {
  transition: var(--transition);
}
header .logo {
  width: 100%;
  max-height: 68px;
  margin-block: 1rem;
}
header ul {
  display: flex;
  grid-gap: 2rem;
}
header ul li {
  text-transform: uppercase;
}
header ul li:hover {
  color: var(--c-orange);
}
footer {
  font-size: 1.75rem;
  color: var(--c-brown);
}
/* END: HEADER & FOOTER */
/* MAIN */
main > section {
  padding-inline: var(--m-container);
}
/* END: MAIN */
/* BANNER */
section[section-data="banner"] {
  margin-top: 100px;
  padding: 0;
}
/* END: BANNER */
/* ABOUT */
section[section-data="about"] {
  padding-block: 5rem;
  background: center / cover no-repeat url("/assets/img/bg/bg-about.jpg");
}
section[section-data="about"] .contxt {
  padding-right: 1rem;
  font-size: calc(28px + (36 - 28) * (100vw - 1440px) / (1920 - 1440));
  width: fit-content;
}
section[section-data="about"] .contxt p {
  max-width: 880px;
}
section[section-data="about"] .contxt h1 {
  width: fit-content;
}
section[section-data="about"] .contxt h1:after {
  content: "";
  position: relative;
  display: block;
  width: 29px;
  height: 29px;
  background: var(--c-orange);
  border-radius: 4rem;
  margin-block: 1rem;
}
/* END: ABOUT */
/* SERVICE */
section[section-data="service"] {
  padding-top: var(--m-container);
  padding-inline: 0;
  background: var(--bg-default) url("/assets/img/bg/bg-service.jpg");
}
section[section-data="service"] .row ul li {
  position: relative;
}
section[section-data="service"] .row > div:nth-child(1) ul li:before {
  content: "•";
  position: absolute;
  left: -1rem;
}
section[section-data="service"] .row > div:nth-child(2) ul li:after {
  content: "•";
  position: absolute;
  right: -1rem;
}
/* END: SERVICE */
/* SERVICE INFO */
section[section-data="service-info"] {
  text-align: center;
  padding: 5rem var(--m-media-container);
  background: var(--bg-default) url("/assets/img/bg/bg-sv-icon.jpg");
}
section[section-data="service-info"] img {
  max-height: 343px;
}
section[section-data="service-info"] p {
  margin-top: 1rem;
}
/* END: SERVICE INFO */
/* PORTFOLIO */
section[section-data="portfolio"] {
  text-align: center;
  padding: 5rem var(--m-media-container);
  background: var(--bg-default) url("/assets/img/bg/bg-port.jpg");
}
section[section-data="portfolio"] h2 {
  margin-bottom: 2.5rem;
}
/* END: PORTFOLIO */
/* VIDEO SECTION */
section[section-data="video"] {
  margin-bottom: -4px;
  padding: 5rem var(--m-media-container);
  width: 100%;
  background: var(--bg-default) url("/assets/img/bg/bg-vdo.jpg");
}
/* END: VIDEO SECTION */
/* CONTACT */
section[section-data="contact"] {
  padding: var(--m-container);
  background: var(--bg-default) url("/assets/img/bg/bg-contact.jpg");
}
section[section-data="contact"] .contact-info {
  margin: auto 0 auto 6rem;
}
section[section-data="contact"] .qr img {
  max-width: 383px;
  width: 100%;
}
section[section-data="contact"] ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 0.5rem;
}
section[section-data="contact"] ul li .icon {
  width: 100%;
  max-width: 3rem;
}
/* END: CONTACT */
/* MAP */
section[section-data="map"] {
  padding: 0;
  margin-bottom: var(--minus-m);
}
section[section-data="map"] > * {
  width: 100%;
}
/* END: MAP */
/* ANIMATION */
section {
  transition: var(--transition);
}
/* END: ANIMATION */
/* GLOBAL */
button {
  max-width: 1.5rem;
  background: transparent;
  border: 0;
  margin: 1rem;
}
.heading {
  font-size: calc(34px + (40 - 34) * ((100vw - 1199px) / (1440 - 1199)));
  text-transform: uppercase;
}
.txt-body {
  font-size: calc(28px + (36 - 28) * (100vw - 1440px) / (1920 - 1440));
}
.container,
.row > div {
  padding: 0;
}
.row {
  margin: 0;
  width: 100%;
}
.media-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.media-wrapper > *:is(img, video) {
  width: 100%;
  height: 100%;
}
.left-ctn {
  padding-left: var(--m-sv-container) !important;
}
.right-ctn {
  padding-right: var(--m-sv-container) !important;
  text-align: end;
}
.tag {
  width: fit-content;
  font-size: calc(24px + (32 - 24) * ((100vw - 1024px) / (1440 - 1024)));
  color: var(--c-white);
  background: var(--c-blue);
  padding: 0.75rem 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-radius: 1.25rem;
}
.m-menu {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(67, 102, 122, 0.9);
  color: var(--c-white);
  text-transform: uppercase;
  font-size: 2rem;
  opacity: 0;
  transition: height var(--transition);
}
.m-menu ul {
  padding: 0;
  text-align: center;
}
.m-menu .wrapper {
  width: 100%;
  height: 100%;
}
.m-menu.active {
  display: flex !important;
  opacity: 1;
}
/* END: GLOBAL */
